@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* detail root variables */
#root {
  --font-serif: 'Montserrat', sans-serif;
  --font-mono: 'Fuzzy Bubbles', cursive;
  --color-text: #efeee7;
  --color-bg: #223458;
}

.table {
  margin: 30px auto 0px auto;
  padding: 50px;
}

.drawericon {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  font-size: larger;
  align-items: center;
}

.drawername {
  font-family: var(--font-serif);
}

.form,
.changementorfromcontrol {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px;
  padding: 0px 50px;
}

.findmentorfromcontrol {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 20px;
  padding: 0px 50px;
}

.addstudentcentent,
.addmentorcentent {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: medium;
  letter-spacing: 2px;
  margin-top: 40px;
}

.button {
  padding: 12px;
  border-radius: 20px;
}

.addbtn {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  flex-direction: column;
  padding: 12px;
  border-radius: 20px;
}

.homepage {
  padding: 5rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  font-family: 'Fuzzy Bubbles', cursive;
  letter-spacing: 1.5px;
}

.list>div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
}

.homepagetitle {
  text-align: center;
  font-family: var(--font-serif);
  margin-bottom: 40px;
}